<% content_for :title, "Showing room" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">ルーム詳細</h1>

  <%= render @room %>

  <%= link_to "編集", edit_room_path(@room), class: "link_btn_mt2" if admin_signed_in? %>
  <%= link_to "戻る", rooms_path, class: "link_btn_ml2" %>
  <div class="inline-block ml-2">
    <%= button_to "削除", @room, method: :delete, class: "delete_btn" if admin_signed_in? %>
  </div>
</div>
