<% content_for :title, "Editing regulation" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">編集 就業規則</h1>

  <%= render "form", regulation: @regulation %>

  <%= link_to "詳細", @regulation, class: "link_btn_ml2" %>
  <%= link_to "戻る", regulations_path, class: "link_btn_ml2" %>
</div>
